<ion-content [fullscreen]="true">
  <br />
  <br />
  <br />

  <ion-card style="text-align: center">
    <ion-card-header>
      <ion-card-title>Login con Balanceo</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Proporciónanos tu dirección IP, usuario y contraseña para ejemplificar el
      balance y llamada de API.
    </ion-card-content>
  </ion-card>

  <ion-list>
    <ion-item>
      <ion-label position="stacked" color="primary">Direccion IP</ion-label>
      <ion-input [(ngModel)]="ip" name="IP" type="text"> </ion-input>
    </ion-item>

    <br />
    <br />
    <br />

    <ion-item>
      <ion-label position="stacked" color="primary">Email</ion-label>
      <ion-input [(ngModel)]="username" name="username" type="text">
      </ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked" color="primary">Contraseña</ion-label>
      <ion-input [(ngModel)]="password" name="password" type="password">
      </ion-input>
    </ion-item>
  </ion-list>

  <br />
  <br />
  <br />
  <br />

  <ion-row>
    <ion-col>
      <ion-button (click)="onLogin()" expand="block">
        Login
        <ion-icon slot="end" name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
